@model List<TPLOCAL1.Models.Opinion>

<!DOCTYPE html>
<html>
<head>
    <title>HN - Liste avis</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
        </ul>
    </nav>

    <section>
        <table>
            <thead>
            <tr>
                <th colspan="3"><strong>Liste</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><strong>Nom</strong></th>
                <th><strong>Prénom</strong></th>
                <th><strong>Avis donné</strong></th>
            </tr>
            @foreach (var opinion in Model)
            {
                <tr>
                    <td>@opinion.LastName</td>
                    <td>@opinion.FirstName</td>
                    <td class="@(opinion.OpinionGiven == "O" ? "avis-oui" : "avis-non")">
                        @(opinion.OpinionGiven == "O" ? "Oui" : "Non")
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </section>
</body>
</html>
