@model List<TPLOCAL1.Models.Opinion>
@{
    ViewData["Title"] = "HN - Liste avis";
    ViewData["Heading"] = "Liste des avis";
    ViewData["Page"] = "OpinionList";
}

<table>
    <thead>
    <tr>
        <th colspan="3"><strong>Liste</strong></th>
    </tr>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Avis donné</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var opinion in Model)
    {
        <tr>
            <td>@opinion.LastName</td>
            <td>@opinion.FirstName</td>
            <td class="@(opinion.OpinionGiven == "O" ? "avis-oui" : "avis-non")">
                @(opinion.OpinionGiven == "O" ? "Oui" : "Non")
            </td>
        </tr>
    }
    </tbody>
</table>
